<style type="text/css">

.todapptext {
	font-family: 'Lato';
	font-size: 10px;
	line-height:14px;
	letter-spacing:-.02rem;	
}
	.todapptext  h1{
		font-family: 'Almonde';
		font-size:24px;
		line-height:20px;
		padding:5px;
		margin:0px;
		letter-spacing: 0.2rem;
	}

</style>
